---
title: Soundscapes
permalink: /soundscapes/
---

<p> Only playable with a mynoise.net account. <br>
(Takes a $1 donation or more to get access to everything.) </p>

* TOC
{:toc}

{% assign ambiances_grouped = site.data.ambiances | group_by: 'group' %}
{% for group in ambiances_grouped %}

<h2> {{ group.name }} </h2>

{% for ambiance in group.items %}

<h3> {{ ambiance.name }} </h3>
{% if ambiance.description %}
<p> {{ ambiance.description }} <br>
{% else %}
<p>
{% endif %}

{% for sound in ambiance.sounds %}
<a href="{{ sound }}"> x </a>
{% endfor %}

</p>

{% endfor %}

{% endfor %}

